<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blueweird.splashbubble"
    android:versionCode="11"
    android:versionName="@string/version_name" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bubble_blue"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.blueweird.splashbubble.activities.GameActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.blueweird.splashbubble.activities.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blueweird.splashbubble.activities.HighScoresActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.blueweird.splashbubble.activities.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.blueweird.splashbubble.GamePlayActivity"
            android:label="@string/title_activity_game_play"
            android:parentActivityName="com.blueweird.splashbubble.activities.BaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blueweird.splashbubble.activities.BaseActivity" />
        </activity>
        <activity
            android:name="com.blueweird.splashbubble.activities.GamePlayActivity"
            android:label="@string/title_activity_high_scores_game_play" >
        </activity>
    </application>

</manifest>